#p1{
    margin-left:25px;
}
#p2{
    margin-left:25px;
}
#i1{
    height:300px;
    width:550px;
    
}
.card :hover{
    border: gray;
}

#a1:hover{
    background-color: grey;
    color:gray;
    box-shadow: grey;
}
#a2:hover{
    background-color: grey;
    color:gray;
    box-shadow: grey;
}
#o1:hover{
    color: grey;
}