#p1{
    margin-left:25px;
}
#p2{
    margin-left:25px;
}
#i1{
    height:350px;
    width:500px;
}
.card :hover{
    border: gray;
}
#a2:hover{
    background-color: rgb(147, 0, 233);
    color:gray;
    box-shadow: grey;
}
#o1:hover{
    color: grey;
}
#a2{
  text-align: right;
  margin-bottom: 200px;
}
